{% extends 'base/base.html' %} {% block content %} {% load template_filters %}
<script>
var warnMessage = "You have unsaved changes on this page!";

$(document).ready(function() {
       window.onbeforeunload = function () {
            if (warnMessage != null) return warnMessage;
       }
    $('input:submit').click(function(e) {
        warnMessage = null;
    });
});
</script>

<!--STYLE FORMAT: Don't change these values, yeah dipstick. It's no fun when it's all messed up! -->
<style>
.bordered{
	margin: auto 2em;
	float:right;
	width: 700px;
	height: 200px;
	padding: 20px;
	border-radius: 8px;
	border: 5px solid black;
	background-color: lightgreen;
	text-align: center;
	overflow: auto;
}
.font_style{
	family:Georgia;
	size: 100%;
	color: black;
}
.font_style_under{
	family:Georgia;
	size: 40%;
	color: black;
}
</style>

<br>
<div  class="userForms" style="float:left; margin: auto 2em;">
		<h2> College Criteria Selection </h2>
		<p> Please select criteria you wish to use to make your decision. </p>
		<form action="" method="post">
			{% csrf_token %}
			<div class="col-10">
				<table class="table">
					{% for form in collegeCriteriaForm %}
					<tr>
						<td> {{form.label}} </td>
						<td> {{form}} {{form.errors}} </td>
					</tr>
					{% endfor %}
				</table>
			</div>
			<button class="btn btn-lg btn-primary btn-block" onclick="warnMessage = null" type="submit">Submit</button>
		</form>
</div>
<br>
<br>
<div>
	<div class="bordered">
		<img src="../../static/img/arrow.png" width="50" height="50" align="middle">
		<text class="font_style"><b>What you click will appear as a criteria BUT the more you select the better the results will be</b></text>
		<p class="font_style_under">When selecting the items above, many users will want to be quick about it. 
		Remember this is your future so being quick isn't the best idea. Take some time to figure out what is important to you so the decision will be more personal.</p>
	</div>
</div>

{% endblock %}
