{% extends 'base/base.html' %}

{% block content %}
{% if message != "" %}
    <b style="color: green"> {{message}} </b>
{% endif %}
<!-- Forms for Django based registration --> 
 <form class= "form-signin" method= "post">
  <h2 class="form-signin-heading">Create an account</h2>
    {% csrf_token %}
    {% for field in form %}
      <p>
        {{ field.label_tag }}<br>
        {{ field }}
        {% if field.help_text %}
          <small style="color: grey">{{ field.help_text }}</small>
        {% endif %}
        {% for error in field.errors %}
          <p style="color: red">{{ error }}</p>
        {% endfor %}
      </p>
    {% endfor %}
   <button class="btn btn-lg btn-primary btn-block" type="submit">Submit</button>
  </form>
  
{% endblock %}
