{% extends 'base/base.html' %} {% block content %} {% load template_filters %}

  <!--STYLE FORMAT: Don't change these values, yeah dipstick. It's no fun when it's all messed up! -->
<style>
  th,
  td {
    padding: 15px;
  }
.bordered{
	box-sizing: border-box;
	margin: auto;
	width: 600px;
	height: 200px;
	padding: 20px;
	border-radius: 8px;
	border: 5px solid black;
	background-color: aquamarine;
	text-align: center;
	overflow: auto;
}
.font_style{
	family:Georgia;
	size: 100%;
	color: black;
}
</style>

<br>
<div class="userForms" style="float: left; margin: auto 2em;">
	<h2> Restaurant Scoring </h2>
	<p> Please select how you would like to score the criteria options. </p>
	<form action="" method="post">
		{% csrf_token %}
		<div class="col-10">
			<table class="table">
				{% for form in restaurantAutoScoreForm %}
				<tr>
					<td> <b> {{form.label}} </b> </td>
				</tr>
				<tr>
					<td> {{form}} {{form.errors}} </td>
				</tr>
				{% endfor %}
			</table>
			<button class="btn btn-lg btn-primary btn-block" type="submit">Submit</button>
		</div>
	</form>
</div>
<br>
<br>
<br>
<div>
	<div class="bordered">
		<img src="../../static/img/arrow.png" width="50" height="50" align="middle">
		<text style="font-family:Georgia;font-size:140%; color: black;"><b>Now to give the parts of that pie values</b></text>
		<p style="font-family:Georgia; color: black;">Now that you've decided upon what is most important to you percentage wise, it is time to give it value.
		The value is either high or low (standard) or manual. If you feel that our auto selection just isn't personal enough then you can decided directly what
		each item gets as a value.</p>
	</div>
</div>
{% endblock %}
