{% extends 'base/base.html' %}

{% block content %}

{% load template_filters %}
<div>
	<h2> College Criteria Selection </h2>
	<p> Please select all the criteria you wish to use to make your decision. </p>
	<form action="" method="post">
		{% csrf_token %}
		<div>
			<table>
				{% for form in collegeCriteriaForm %}
				<tr>
					<td> {{form.label}} </td>
					<td> {{form}} {{form.errors}} </td>		
				</tr>
				{% endfor %}
			</table>
		</div>
		<input type="submit" value="Submit">
	</form>
</div>

{% endblock %}