{% extends 'base/base.html' %} {% block content %}

<!--STYLE FORMAT: Don't change these values, yeah dipstick. It's no fun when it's all messed up! -->
<style>
.bordered{
	box-sizing: border-box;
	margin: auto;
	width: 1000px;
	height: 200px;
	padding: 20px;
	border-radius: 8px;
	border: 5px solid black;
	background-color: thistle;
	text-align: center;
	overflow: auto;
}
.font_style{
	family:Georgia;
	size: 100%;
	color: black;
}
</style>

<body>
<br>
<link href="../../static/css/decision.css" rel="stylesheet">

<div class="container">
	<div class="row">
		<div class="userForms">
			<h2 style="padding-left: 50px;"> Custom Decision </h2>
			<form action="" method="post">
				{% csrf_token %}
				<div class="col-12">
					<p style="padding-left: 50px;">What are you deciding on? <br> {{ decisionForm.yourDecision }} {{decisionForm.errors}} <br></p>
					<button class="btn btn-lg btn-primary btn-block" type="submit">Submit</button>
				</div>
			</form>
		</div>
	</div>
</div>
<br>
<div>
	<div class="bordered" >
		<header style="font-size:150%; color: black;"><strong>Need Help?</strong></header>
		<img src="../../static/img/arrow.png" width="50" height="50" align="middle">
		<text class="font_style"><b>Throughout the decision making process hints like these will appear.</b></text><br>
		<img src="../../static/img/arrow.png" width="50" height="50" align="middle">
		<text class="font_style"><b>They will look like this and sometimes have links to useful resources. Hopefully they help.</b></text><br>
	</div>
</div>
</body>
{% endblock %}
