{% extends 'base/base.html' %} {% block content %} {% load template_filters %}
<br>
<script>
var warnMessage = "You have unsaved changes on this page!";

$(document).ready(function() {
       window.onbeforeunload = function () {
            if (warnMessage != null) return warnMessage;
       }
    $('input:submit').click(function(e) {
        warnMessage = null;
    });
});
</script>
<div class="col-12">
	<div class="userForms">
		<h2> Recipe Criteria Selection </h2>
		<p> Please select criteria you wish to use to make your decision. </p>
		<form action="" method="post">
			{% csrf_token %}
			<div>
				<table class="table">
					{% for form in carsCriteriaForm %}
					<tr>
						<td> {{form.label}} </td>
						<td> {{form}} {{form.errors}} </td>
					</tr>
					{% endfor %}
				</table>
			</div>
			<button class="btn btn-lg btn-primary btn-block" onclick="warnMessage=null" type="submit">Submit</button>
		</form>
	</div>
</div>

{% endblock %}
