{% extends 'base/base.html' %} {% block content %} {% load template_filters %}
<br>
<script>
var warnMessage = "You have unsaved changes on this page!";

$(document).ready(function() {
       window.onbeforeunload = function () {
            if (warnMessage != null) return warnMessage;
       }
    $('input:submit').click(function(e) {
        warnMessage = null;
    });
});
</script>
<div>
	<div class="userForms">
		<h2> Scores for {{criteria_name}} </h2>
		<p> Below are different options for the given criteria. </p>
		<p> Select how you feel about each based on the given criteria. </p>
		<form action="" method="post">
			{% csrf_token %}
			<div class="form-group">
				{% for form in restaurantScoreForm %}
				<b> How do you feel about {{ form.label }}{{ criteria_units }}? </b>
				<br> {{ form }} {{form.errors}}
				<br> {% endfor %}
			</div>
			<button class="btn btn-lg btn-primary btn-block" onclick = "warnMessage=null" type="submit">Submit</button>
		</form>
	</div>
</div>
<!-- <br> -->
<!-- <br> -->
<!-- <br> -->
<!-- <div> -->
	<!-- <div style="text-align:center;"> -->
		<!-- <img src="../../static/img/arrow.png" width="50" height="50" align="middle"> -->
		<!-- <text style="font-family:Georgia;font-size:140%;"><b>HINT: </b></text> -->
		<!-- <p style="font-family:Georgia;">TEST</p> -->
	<!-- </div> -->
<!-- </div> -->
{% endblock %}
