{% extends 'base/base.html' %}

{% block content %}

{% load template_filters %}
<div>
<div class="userForms">
	<h2> Scores for {{criteria_name}} </h2>
	<p> Below are different options for the given criteria. </p>
	<p> For each option select how you feel about it based on the given criteria. </p>
	<br>
	<form action="" method="post">
		{% csrf_token %}
		<div class="form-group">
			{% for form in collegeScoreForm %}
			 <b> How do you feel about {{ form.label }} {{ criteria_units }}? </b>
				<br> {{ form }} {{form.errors}}
				<br>
			{% endfor %}
		</div>
<button class="btn btn-lg btn-primary btn-block" type="submit">Submit</button>
	</form>
</div>
</div>

{% endblock %}
